*{
    border-radius: 12px;
}

body{
    background-image: linear-gradient(#3C2C3E , #4B5D67 , #BDF2D5);
    min-height: 800px;
    
}
header{
    text-align: center;
    color: #fff;
}
header h1{
    font-size: 80px;
    font-weight: 800;
}
header p{
    font-size: 30px;
    font-weight: 600;
}
main{
    display: flex;
}
img{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50px;
    top: -30px;
    transition: all 1s;
}
section:hover img{
    top: -100px;
    border-radius: 50%;
    transform: rotate(720deg);
}
section{
    background-color: #fff;
    width: 400px;
    height: 350px;
    margin: 200px auto 0 auto;
    position: relative;
    transition: all 1s;
    
}
section:hover{
    height: 400px;
}
.contaner{
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
section:hover .contaner{
    opacity: 1;
}
@media (min-width: 300px) and (max-width: 1300px) {
    main{
        display: block;
    }
    }